[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"

[dev-packages]
pre-commit = "*"
pylint = "*"

[requires]
python_version = "3.8"
