.Button {
  font-size: 1.3rem;
  // font-weight: bold;
  padding: 0 2.2em;
  height: 2.4em;
  border: var(--color-action) solid 3px;
  border-radius: 2rem;
  background-color: var(--color-action);
  color: var(--color-text);
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.active {
  border: var(--color-text) solid 3px;
}

.Long {
  border: var(--color-action) solid 3px;
}

.WrapperCenter {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
