.index {
  margin: 1rem 0;
}

.index p {
  font-size: 1.1rem;
}

.CheckBoxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.CheckBoxes label {
  display: block;
  position: relative;
  cursor: pointer;
  margin: 1rem 0;
}

.CheckBoxes label:nth-child(1) {
  margin: 1rem 2rem 0 0;
}

.CheckBoxes label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

// Custom checkbox
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: var(--color-text);
  border: 1px solid var(--color-action);
  border-radius: 3px;
}

.CheckBoxes label input:checked ~ .checkmark {
  background-color: var(--color-action);
}

.text {
  margin: 0 0 0 2rem;
}
