.Button {
  font-size: 1rem;
  padding: 0.5em 3em;
  height: 3em;
  border: var(--color-button) solid 3px;
  border-radius: 2rem;
  background-color: var(--color-button);
  color: var(--color-text);
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.active {
  border: var(--color-text) solid 3px;
}

.Long {
  border: var(--color-button) solid 3px;
}

.WrapperCenter {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

:root {
  --color-button: #f20574;
}
