/*
Initialisation of CSS happens here.

If you are using this library, import this CSS file at the root of your project.
*/

:root {
  --margin-under-labels: 1rem;
  --margin-between-elements: 2rem;
  --font-size-label-p: 1.1rem;
  --color-text: #f2f2f2;
  --color-background: #1f0f43;
  --color-action: #ffa630;
}
