.p {
  font-size: var(--font-size-label-p);
  margin: 1rem 0;
}

.fileName {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0.3rem 0;
  color: var(--color-text-secondary);
}

.Wrapper {
  padding: 1px;
  background-color: var(--color-bg-filearea);
  border-radius: calc(var(--border-radius-filearea));
}

.Container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  text-align: center;
  width: inherit;
  border-width: 2px;
  border-radius: var(--border-radius-filearea);
  border-style: dashed;
  background-color: var(--color-bg-filearea);
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
  cursor: pointer;
}

:root {
  --color-bg-filearea: #fff;
  --border-radius-filearea: 1rem;
}
