.index {
  grid-area: settings;
  background-color: var(--color-background);
  overflow-y: scroll;
  position: relative;
}

.Settings {
  padding: 3rem 2rem;
  color: var(--color-text);
}

// .Modal {
//   margin: 200px 0 0 0;
// }

.index h1 {
  margin: 0 0 1.5rem 0;
}

.submit {
  margin: 1rem 0 0 0;
}
