.index {
  grid-area: settings;
  background-color: var(--color-background);
  overflow-y: scroll;
}

.Settings {
  padding: 3rem 2rem;
  color: var(--color-text);
}

.index h1 {
  margin: 0 0 1.5rem 0;
}

.submit {
  margin: 1rem 0 0 0;
}
