.index {
  border: var(--color-action) solid 3px;
  border-radius: 0.5rem;
  background-color: var(--color-action);
  color: var(--color-text);
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.Action {
  display: block;
  text-align: center;
  font-size: 1.6rem;
  padding: 0.5em 1em;
}

.Back {
  border-radius: 0 0 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-index-10);
}

.Back img {
  height: 15px;
}

.Block {
  position: relative;
}

.external {
  text-decoration: none;
}
