.index {
  width: 100vw;
  min-height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(135deg, rgba(2, 0, 36, 1) 0%, rgba(80, 20, 52, 1) 85%);
}

.index h1 {
  text-align: center;
  padding: 2rem 0;
  font-size: 3rem;
  color: var(--color-text);
}

.ExamplesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Example {
  width: 350px;
  height: 350px;
  margin: 2rem;
  background-color: #eee;
  border-radius: 1rem;
}

.Example img {
  border-radius: 1rem 1rem 0 0;
  cursor: pointer;
  width: 350px;
  height: 200px;
}

.ExampleInfo h3 {
  margin: 1rem;
}

.ExampleInfo p {
  margin: 1rem;
}
